@model ChangePasswordDTO

<!DOCTYPE html>

<html>
<head>
    <title>Change password</title>
</head>
<body>
<div>
    <div class="col-md-4">
        <form asp-action="ChangePassword" method="post">
            <table class="table table-borderless">
                <tr>
                    <td colspan="2">
                        <legend>
                            Change password:
                        </legend>
                    </td>
                </tr>
                <tr>
                    <th>Username: </th>
                    <td>
                        <input asp-for="Email"/>
                    </td>
                </tr>
                <tr>
                    <th>Old password: </th>
                    <td>
                        <input asp-for="OldPassword" type="password"/>
                    </td>
                </tr>
                <tr>
                    <th>New password: </th>
                    <td>
                        <input asp-for="NewPassword" type="password"/>
                    </td>
                </tr>
                <tr>
                    <th>Re-enter new password: </th>
                    <td>
                        <input asp-for="ReenterNewPassword" type="password"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="text-center">
                            <input type="submit" value="Submit"/>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
        <form asp-action="ForgotPassword" method="post">
            <table class="table table-borderless">
                <tr>
                    <legend>Reset password: </legend>
                </tr>
                <tr>
                    <th>
                        Username:
                    </th>
                    <td>
                        <input asp-for="Username"/>
                    </td>
                </tr>
                <tr>
                    <th>Email: </th>
                    <td>
                        <input asp-for="Email"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="text-center">
                            <input type="submit" value="Submit"/>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div class="col-md-8">

    </div>
</div>
</body>
</html>